import numpy
import pandas as pd

x1_name = "log.xlsx"
api_name = "log_api.csv"

x1 = pd.read_excel(x1_name)
api = pd.read_csv(api_name, encoding = 'cp949')

In [9]:
import numpy
import pandas as pd

x1_name = "log.xlsx"
api_name = "log_api.csv"

x1 = pd.read_excel(x1_name)
api = pd.read_csv(api_name, encoding = 'cp949')

In [10]:
x1

        대여소 그룹                대여소 명  반납 일자 / 월  반납 건수
0       그룹명 없음              대여소명 없음 2017-01-01     10
1          광진구  500. 어린이대공원역 3번출구 앞 2017-01-01     12
2          광진구         501. 광진구의회 앞 2017-01-01     10
3          광진구   502. 뚝섬유원지역 1번출구 앞 2017-01-01     13
4          광진구     503. 더샵스타시티 C동 앞 2017-01-01      8
...        ...                  ...        ...    ...
245441     중랑구  1442. (구)신한은행 중랑교지점 2017-12-31      1
245442     중랑구          1445. 용마지구대 2017-12-31      0
245443     중랑구      1446. 중랑전화국 교차로 2017-12-31      2
245444     중랑구       1447. 면목역 3번출구 2017-12-31      2
245445     중랑구       1448. 코스트코 상봉점 2017-12-31      8

[245446 rows x 4 columns]

In [11]:
api

,대여소\n번호,보관소(대여소)명,소재지(위치),Unnamed: 3,Unnamed: 4,Unnamed: 5,설치\n시기,설치형태,Unnamed: 8,운영\n방식
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LCD,QR,NaN
1,NaN,NaN,자치구,상세주소,위도,경도,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,거치\n대수,거치\n대수,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,301.0,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130,37.575794,126.971451,2015-10-07,16,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2156,1089.0,고덕 래미안힐스테이트(201동),강동구,고덕동 675,37.560600,127.146698,2020-01-13,NaN,10,QR
2157,1090.0,상일동역 2번출구 앞,강동구,고덕로 333,37.556789,127.166145,2020-01-13,NaN,10,QR
2158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
api.rename(columns = {'보관소(대여소)명':'대여소 명'}, inplace = True)

In [15]:
api

,대여소\n번호,대여소 명,소재지(위치),Unnamed: 3,Unnamed: 4,Unnamed: 5,설치\n시기,설치형태,Unnamed: 8,운영\n방식
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LCD,QR,NaN
1,NaN,NaN,자치구,상세주소,위도,경도,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,거치\n대수,거치\n대수,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,301.0,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130,37.575794,126.971451,2015-10-07,16,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2156,1089.0,고덕 래미안힐스테이트(201동),강동구,고덕동 675,37.560600,127.146698,2020-01-13,NaN,10,QR
2157,1090.0,상일동역 2번출구 앞,강동구,고덕로 333,37.556789,127.166145,2020-01-13,NaN,10,QR
2158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
x1['대여소 명'].str.extract('(\w*.)')

            0
0       대여소명
1        500.
2        501.
3        502.
4        503.
...       ...
245441  1442.
245442  1445.
245443  1446.
245444  1447.
245445  1448.

[245446 rows x 1 columns]

In [26]:
x1_split = x1["대여소 명"].str.split(". ")

x1["대여소\n번호"] = x1_split.str.get(0)
x1["대여소명"] = x1_split.str.get(1)

NameError: name 'df' is not defined