In [1]:
import requests #웹페이지의 HTML을 가져오는 모듈
from bs4 import BeautifulSoup

In [2]:
response = requests.get('https://pythondojang.bitbucket.io/weather/observation/currentweather.html')
soup = BeautifulSoup(response.content, 'html.parser')

In [3]:
table = soup.find('table', {'class': 'table_develop3'})
data = []
for tr in table.find_all('tr'):
    tds = list(tr.find_all('td'))

    for td in tds:
        if td.find('a'):
            point = td.find('a').text
            temperature = tds[5].text
            humidity = tds[9].text
            data.append([point, temperature, humidity])

data

[['서울', '25.6', '30'],
 ['백령도', '18.4', '62'],
 ['인천', '20.8', '54'],
 ['수원', '25.0', '41'],
 ['동두천', '24.9', '34'],
 ['파주', '25.1', '39'],
 ['강화', '20.0', '56'],
 ['양평', '25.5', '32'],
 ['이천', '25.6', '28'],
 ['북춘천', '24.6', '36'],
 ['북강릉', '19.9', '56'],
 ['울릉도', '16.8', '77'],
 ['속초', '19.1', '75'],
 ['철원', '23.9', '37'],
 ['대관령', '17.9', '49'],
 ['춘천', '25.7', '39'],
 ['강릉', '22.7', '41'],
 ['동해', '19.5', '77'],
 ['원주', '23.4', '36'],
 ['영월', '24.2', '34'],
 ['인제', '24.3', '31'],
 ['홍천', '25.4', '25'],
 ['태백', '19.6', '43'],
 ['정선군', '23.0', '32'],
 ['서산', '23.6', '49'],
 ['청주', '24.3', '33'],
 ['대전', '25.1', '37'],
 ['충주', '24.4', '32'],
 ['추풍령', '23.0', '35'],
 ['홍성(예)', '24.3', '46'],
 ['제천', '24.2', '32'],
 ['보은', '23.7', '28'],
 ['천안', '23.5', '35'],
 ['보령', '21.4', '56'],
 ['부여', '23.9', '37'],
 ['금산', '23.7', '30'],
 ['전주', '24.9', '44'],
 ['광주', '24.0', '35'],
 ['목포', '22.8', '51'],
 ['여수', '22.8', '49'],
 ['흑산도', '19.2', '93'],
 ['군산', '21.8', '55'],
 ['완도', '23.2', '45'],
 ['고창', '22.7', '53'],
 ['순천', '22.5', '40'],
 ['진도(첨찰산)', '22.2', '48'],
 ['부안', '22.9', '44'],
 ['임실', '22.8', '40'],
 ['정읍', '23.8', '47'],
 ['남원', '23.8', '35'],
 ['장수', '22.0', '33'],
 ['고창군', '23.7', '48'],
 ['영광군', '22.4', '40'],
 ['순창군', '23.5', '38'],
 ['보성군', '23.7', '34'],
 ['강진군', '24.1', '33'],
 ['장흥', '25.5', '33'],
 ['해남', '24.6', '40'],
 ['고흥', '24.4', '34'],
 ['광양시', '24.6', '43'],
 ['진도군', '21.9', '58'],
 ['제주', '20.7', '60'],
 ['고산', '19.1', '74'],
 ['성산', '23.1', '33'],
 ['서귀포', '24.0', '43'],
 ['안동', '25.0', '32'],
 ['포항', '19.0', '83'],
 ['대구', '25.7', '31'],
 ['울산', '19.7', '70'],
 ['창원', '20.6', '63'],
 ['부산', '20.2', '66'],
 ['울진', '17.6', '84'],
 ['상주', '25.0', '32'],
 ['통영', '20.0', '71'],
 ['진주', '23.8', '30'],
 ['김해시', '21.9', '60'],
 ['북창원', '22.8', '50'],
 ['양산시', '21.4', '63'],
 ['의령군', '25.1', '40'],
 ['함양군', '23.3', '38'],
 ['봉화', '22.0', '38'],
 ['영주', '23.0', '36'],
 ['문경', '25.5', '26'],
 ['청송군', '17.9', '71'],
 ['영덕', '19.4', '57'],
 ['의성', '25.7', '25'],
 ['구미', '25.7', '32'],
 ['영천', '21.8', '47'],
 ['경주시', '23.8', '49'],
 ['거창', '22.7', '38'],
 ['합천', '25.1', '32'],
 ['밀양', '24.7', '34'],
 ['산청', '24.8', '41'],
 ['거제', '23.1', '57'],
 ['남해', '24.5', '40']]

###웹페이지의 HTML을 가져와서 파일로 저장하기

In [4]:
#포맷버젼
with open('weather.csv', 'w',encoding = 'utf-8') as file:
    file.write('point,temperature,humidity\n')
    for i in data:
        file.write('{},{},{}\n'.format(*i)) # 몇 칸이 들어갈지 모를경우 *을 활용해 보자!

In [5]:
#조인버젼
with open('weather.csv', 'w', encoding='utf-8') as file:
    file.write('point,temperature,humidity\n')
    for i in data:
        line_data = ",".join(i) + '\n'#list i를
        file.write(line_data)

In [12]:
a = ['1','3','2','4']
b = ",".join(a)
b

'1,3,2,4'