In [1]:
import pandas as pd
import numpy

x1_name = "log.xlsx"
api_name = "log_api.csv"

x1 = pd.read_excel("log.xlsx")
api = pd.read_csv("log_api.csv",encoding = 'cp949')

In [2]:
x1

        대여소 그룹                대여소 명  반납 일자 / 월  반납 건수
0       그룹명 없음              대여소명 없음 2017-01-01     10
1          광진구  500. 어린이대공원역 3번출구 앞 2017-01-01     12
2          광진구         501. 광진구의회 앞 2017-01-01     10
3          광진구   502. 뚝섬유원지역 1번출구 앞 2017-01-01     13
4          광진구     503. 더샵스타시티 C동 앞 2017-01-01      8
...        ...                  ...        ...    ...
245441     중랑구  1442. (구)신한은행 중랑교지점 2017-12-31      1
245442     중랑구          1445. 용마지구대 2017-12-31      0
245443     중랑구      1446. 중랑전화국 교차로 2017-12-31      2
245444     중랑구       1447. 면목역 3번출구 2017-12-31      2
245445     중랑구       1448. 코스트코 상봉점 2017-12-31      8

[245446 rows x 4 columns]

In [3]:
api

,대여소\n번호,보관소(대여소)명,소재지(위치),Unnamed: 3,Unnamed: 4,Unnamed: 5,설치\n시기,설치형태,Unnamed: 8,운영\n방식
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LCD,QR,NaN
1,NaN,NaN,자치구,상세주소,위도,경도,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,거치\n대수,거치\n대수,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,301.0,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130,37.575794,126.971451,2015-10-07,16,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2156,1089.0,고덕 래미안힐스테이트(201동),강동구,고덕동 675,37.560600,127.146698,2020-01-13,NaN,10,QR
2157,1090.0,상일동역 2번출구 앞,강동구,고덕로 333,37.556789,127.166145,2020-01-13,NaN,10,QR
2158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
x1.columns = ['x_소재지','x_대여소명1','x_반납일자','x_반납건수']
x1

         x_소재지              x_대여소명1     x_반납일자  x_반납건수
0       그룹명 없음              대여소명 없음 2017-01-01      10
1          광진구  500. 어린이대공원역 3번출구 앞 2017-01-01      12
2          광진구         501. 광진구의회 앞 2017-01-01      10
3          광진구   502. 뚝섬유원지역 1번출구 앞 2017-01-01      13
4          광진구     503. 더샵스타시티 C동 앞 2017-01-01       8
...        ...                  ...        ...     ...
245441     중랑구  1442. (구)신한은행 중랑교지점 2017-12-31       1
245442     중랑구          1445. 용마지구대 2017-12-31       0
245443     중랑구      1446. 중랑전화국 교차로 2017-12-31       2
245444     중랑구       1447. 면목역 3번출구 2017-12-31       2
245445     중랑구       1448. 코스트코 상봉점 2017-12-31       8

[245446 rows x 4 columns]

In [5]:
api.columns = ['a_대여소번호','a_대여소명','a_소재지','a_상세주소','a_위도','a_경도','a_설치시기','a_설치형태LCD','a_설치형태QR','a_운영방식']
api

,a_대여소번호,a_대여소명,a_소재지,a_상세주소,a_위도,a_경도,a_설치시기,a_설치형태LCD,a_설치형태QR,a_운영방식
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LCD,QR,NaN
1,NaN,NaN,자치구,상세주소,위도,경도,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,거치\n대수,거치\n대수,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,301.0,경복궁역 7번출구 앞,종로구,서울특별시 종로구 사직로 지하130,37.575794,126.971451,2015-10-07,16,NaN,LCD
...,...,...,...,...,...,...,...,...,...,...
2156,1089.0,고덕 래미안힐스테이트(201동),강동구,고덕동 675,37.560600,127.146698,2020-01-13,NaN,10,QR
2157,1090.0,상일동역 2번출구 앞,강동구,고덕로 333,37.556789,127.166145,2020-01-13,NaN,10,QR
2158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# x1.loc['x_대여소명1'['2333 양재역 3번출구 주변']] = '2333. 양재역 3번출구 주변'
x1.loc[(x1.x_대여소명1 == '2333 양재역 3번출구 주변'), 'x_대여소명1'] = '2333. 양재역 3번출구 주변'

In [7]:
import pandas as pd
import numpy
x1["x_대여소번호"] = ""
x1["x_대여소명"] = ""
x1

         x_소재지              x_대여소명1     x_반납일자  x_반납건수 x_대여소번호 x_대여소명
0       그룹명 없음              대여소명 없음 2017-01-01      10
1          광진구  500. 어린이대공원역 3번출구 앞 2017-01-01      12
2          광진구         501. 광진구의회 앞 2017-01-01      10
3          광진구   502. 뚝섬유원지역 1번출구 앞 2017-01-01      13
4          광진구     503. 더샵스타시티 C동 앞 2017-01-01       8
...        ...                  ...        ...     ...     ...    ...
245441     중랑구  1442. (구)신한은행 중랑교지점 2017-12-31       1
245442     중랑구          1445. 용마지구대 2017-12-31       0
245443     중랑구      1446. 중랑전화국 교차로 2017-12-31       2
245444     중랑구       1447. 면목역 3번출구 2017-12-31       2
245445     중랑구       1448. 코스트코 상봉점 2017-12-31       8

[245446 rows x 6 columns]

In [8]:
x1_split = x1["x_대여소명1"].str.split(".")
x1["x_대여소번호"] = x1_split.str.get(0)
x1["x_대여소명"] = x1_split.str.get(1)
x1

,x_소재지,x_대여소명1,x_반납일자,x_반납건수,x_대여소번호,x_대여소명
0,그룹명 없음,대여소명 없음,2017-01-01,10,대여소명 없음,NaN
1,광진구,500. 어린이대공원역 3번출구 앞,2017-01-01,12,500,어린이대공원역 3번출구 앞
2,광진구,501. 광진구의회 앞,2017-01-01,10,501,광진구의회 앞
3,광진구,502. 뚝섬유원지역 1번출구 앞,2017-01-01,13,502,뚝섬유원지역 1번출구 앞
4,광진구,503. 더샵스타시티 C동 앞,2017-01-01,8,503,더샵스타시티 C동 앞
...,...,...,...,...,...,...
245441,중랑구,1442. (구)신한은행 중랑교지점,2017-12-31,1,1442,(구)신한은행 중랑교지점
245442,중랑구,1445. 용마지구대,2017-12-31,0,1445,용마지구대
245443,중랑구,1446. 중랑전화국 교차로,2017-12-31,2,1446,중랑전화국 교차로
245444,중랑구,1447. 면목역 3번출구,2017-12-31,2,1447,면목역 3번출구
245445,중랑구,1448. 코스트코 상봉점,2017-12-31,8,1448,코스트코 상봉점

In [9]:
x1 = x1[x1.x_대여소번호 != '대여소명 없음']
x1 = x1[x1.x_대여소번호 != '중랑정비팀test 1005']
x1.tail()

       x_소재지              x_대여소명1     x_반납일자  x_반납건수 x_대여소번호          x_대여소명
245441   중랑구  1442. (구)신한은행 중랑교지점 2017-12-31       1    1442   (구)신한은행 중랑교지점
245442   중랑구          1445. 용마지구대 2017-12-31       0    1445           용마지구대
245443   중랑구      1446. 중랑전화국 교차로 2017-12-31       2    1446       중랑전화국 교차로
245444   중랑구       1447. 면목역 3번출구 2017-12-31       2    1447        면목역 3번출구
245445   중랑구       1448. 코스트코 상봉점 2017-12-31       8    1448        코스트코 상봉점

In [10]:
# x1[x1['x_대여소명1'] == '2333 양재역 3번출구 주변','x_대여소번호'] = '2333. 양재역 3번출구 주변'

In [13]:
import numpy as np
x1 = x1.astype({'x_대여소번호':np.float})

In [15]:
x1.dtypes
x1

       x_소재지              x_대여소명1     x_반납일자  x_반납건수  x_대여소번호           x_대여소명
1        광진구  500. 어린이대공원역 3번출구 앞 2017-01-01      12    500.0   어린이대공원역 3번출구 앞
2        광진구         501. 광진구의회 앞 2017-01-01      10    501.0          광진구의회 앞
3        광진구   502. 뚝섬유원지역 1번출구 앞 2017-01-01      13    502.0    뚝섬유원지역 1번출구 앞
4        광진구     503. 더샵스타시티 C동 앞 2017-01-01       8    503.0      더샵스타시티 C동 앞
5        광진구       504. 신자초교입구교차로 2017-01-01      13    504.0        신자초교입구교차로
...      ...                  ...        ...     ...      ...              ...
245441   중랑구  1442. (구)신한은행 중랑교지점 2017-12-31       1   1442.0    (구)신한은행 중랑교지점
245442   중랑구          1445. 용마지구대 2017-12-31       0   1445.0            용마지구대
245443   중랑구      1446. 중랑전화국 교차로 2017-12-31       2   1446.0        중랑전화국 교차로
245444   중랑구       1447. 면목역 3번출구 2017-12-31       2   1447.0         면목역 3번출구
245445   중랑구       1448. 코스트코 상봉점 2017-12-31       8   1448.0         코스트코 상봉점

[244598 rows x 6 columns]

In [16]:
x1.drop(['x_대여소명1'], axis = 1)

       x_소재지     x_반납일자  x_반납건수  x_대여소번호           x_대여소명
1        광진구 2017-01-01      12    500.0   어린이대공원역 3번출구 앞
2        광진구 2017-01-01      10    501.0          광진구의회 앞
3        광진구 2017-01-01      13    502.0    뚝섬유원지역 1번출구 앞
4        광진구 2017-01-01       8    503.0      더샵스타시티 C동 앞
5        광진구 2017-01-01      13    504.0        신자초교입구교차로
...      ...        ...     ...      ...              ...
245441   중랑구 2017-12-31       1   1442.0    (구)신한은행 중랑교지점
245442   중랑구 2017-12-31       0   1445.0            용마지구대
245443   중랑구 2017-12-31       2   1446.0        중랑전화국 교차로
245444   중랑구 2017-12-31       2   1447.0         면목역 3번출구
245445   중랑구 2017-12-31       8   1448.0         코스트코 상봉점

[244598 rows x 5 columns]

In [17]:
merge_bike = pd.merge(x1,api, how = 'left', left_on ='x_대여소번호', right_on = 'a_대여소번호')
merge_bike

,x_소재지,x_대여소명1,x_반납일자,x_반납건수,x_대여소번호,x_대여소명,a_대여소번호,a_대여소명,a_소재지,a_상세주소,a_위도,a_경도,a_설치시기,a_설치형태LCD,a_설치형태QR,a_운영방식
0,광진구,500. 어린이대공원역 3번출구 앞,2017-01-01,12,500.0,어린이대공원역 3번출구 앞,500.0,어린이대공원역 3번출구 앞,광진구,서울특별시 광진구 능동로 지하210,37.547070,127.074272,2015-10-07,10,NaN,LCD
1,광진구,501. 광진구의회 앞,2017-01-01,10,501.0,광진구의회 앞,501.0,광진구의회 앞,광진구,서울특별시 광진구 능동로 76,37.537308,127.070351,2015-10-07,30,NaN,LCD
2,광진구,502. 뚝섬유원지역 1번출구 앞,2017-01-01,13,502.0,뚝섬유원지역 1번출구 앞,502.0,뚝섬유원지역 1번출구 앞,광진구,서울특별시 광진구 능동로 10,37.531860,127.067192,2015-10-07,27,NaN,LCD
3,광진구,503. 더샵스타시티 C동 앞,2017-01-01,8,503.0,더샵스타시티 C동 앞,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,광진구,504. 신자초교입구교차로,2017-01-01,13,504.0,신자초교입구교차로,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244927,중랑구,1442. (구)신한은행 중랑교지점,2017-12-31,1,1442.0,(구)신한은행 중랑교지점,1442.0,(구)신한은행 중랑교지점,중랑구,서울특별시 중화동 50-8,37.598591,127.079819,2017-11-01,8,NaN,LCD
244928,중랑구,1445. 용마지구대,2017-12-31,0,1445.0,용마지구대,1445.0,용마지구대,중랑구,서울특별시 면목동 197-5,37.579941,127.079399,2017-11-01,10,NaN,LCD
244929,중랑구,1446. 중랑전화국 교차로,2017-12-31,2,1446.0,중랑전화국 교차로,1446.0,중랑전화국 교차로,중랑구,서울특별시 중랑구 면목동 282-8,37.591301,127.080330,2017-11-01,10,NaN,LCD
244930,중랑구,1447. 면목역 3번출구,2017-12-31,2,1447.0,면목역 3번출구,1447.0,면목역 3번출구,중랑구,서울특별시 면목동 120-2,37.588902,127.087280,2017-11-01,15,NaN,LCD
244931,중랑구,1448. 코스트코 상봉점,2017-12-31,8,1448.0,코스트코 상봉점,1448.0,코스트코 상봉점,중랑구,서울특별시 상봉동 160-3,37.597321,127.089798,2017-11-01,15,NaN,LCD