## MYSQL 연동하기

### 필요한 모듈을 설피한다. 
  - pymysql 패키지를 설치한다. 
  - pip install pymysql

In [3]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\admin\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

1. DB 모듈 import하기
2. DB 접속 - 접속객체 얻어오기  -> 변수에 받아야지만 쓸 수 있음.
3. 쿼리작성하기 
4. 쿼리 실행 
5. 결과값 얻어오기 
6. 접속종료

In [10]:
import pymysql 

conn = pymysql.connect(
    host='localhost',
    port=3306,
    user='pbl',
    passwd='pblpw',
    db='pbldb'
)
conn   
# connection return했다 알 수 있음.

In [19]:
sql = "select * from member"
cursor = conn.cursor()     #cursor라는 함수임.
cursor.execute(sql)

6

In [12]:
for member in cursor:           #cursor 객체가 반복문이라 마지막 7로 가있기 때문에 밑에 fetchall 하면 안됨. 따라서 위에 한번덯하고 result로가
    print(member)

(1, 'abc@abc.com', '1234', 'abc', '200', datetime.datetime(2021, 4, 9, 14, 39, 59))
(2, 'test@test.com', '1234', 'kang', None, datetime.datetime(2021, 4, 9, 15, 35, 9))
(3, 'aabb@naver.como', '1234', 'min', '210', datetime.datetime(2021, 4, 9, 15, 38, 5))
(4, 'aacc@naver.como', '1234', None, None, datetime.datetime(2021, 4, 9, 15, 39, 9))
(5, 'hong@nate.com', '4444', 'hong', '200', datetime.datetime(2021, 4, 12, 9, 31, 17))
(6, 'lee@nate.com', '4444', 'lee', '200', datetime.datetime(2021, 4, 12, 9, 34, 54))

### fetchall vs fetchone vs fetchmany - 튜플형태

In [15]:
#값들 튜플형태로 한번에 나옴. 
result = cursor.fetchall()   #fetchall - 모두가져옴 vs fetchone()-한건만 나옴 vs fetchmany(n) -n번째까지만 보여죠!
result

((1,
  'abc@abc.com',
  '1234',
  'abc',
  '200',
  datetime.datetime(2021, 4, 9, 14, 39, 59)),
 (2,
  'test@test.com',
  '1234',
  'kang',
  None,
  datetime.datetime(2021, 4, 9, 15, 35, 9)),
 (3,
  'aabb@naver.como',
  '1234',
  'min',
  '210',
  datetime.datetime(2021, 4, 9, 15, 38, 5)),
 (4,
  'aacc@naver.como',
  '1234',
  None,
  None,
  datetime.datetime(2021, 4, 9, 15, 39, 9)),
 (5,
  'hong@nate.com',
  '4444',
  'hong',
  '200',
  datetime.datetime(2021, 4, 12, 9, 31, 17)),
 (6,
  'lee@nate.com',
  '4444',
  'lee',
  '200',
  datetime.datetime(2021, 4, 12, 9, 34, 54)))

In [18]:
result = cursor.fetchmany(2)
result

((1,
  'abc@abc.com',
  '1234',
  'abc',
  '200',
  datetime.datetime(2021, 4, 9, 14, 39, 59)),
 (2,
  'test@test.com',
  '1234',
  'kang',
  None,
  datetime.datetime(2021, 4, 9, 15, 35, 9)))

In [21]:
result = cursor.fetchone()
result

(1,
 'abc@abc.com',
 '1234',
 'abc',
 '200',
 datetime.datetime(2021, 4, 9, 14, 39, 59))

### - 리스트 안에 딕셔너리구조 형태

In [23]:
# 딕셔너리 구조 
dictCur = conn.cursor(pymysql.cursors.DictCursor)   #pymysql -모듈이 제공하는 DictCursor -딕셔너리 
dictCur.execute('select*from member')
dictResult = dictCur.fetchall()
dictResult

[{'member_id': 1,
  'email': 'abc@abc.com',
  'passwd': '1234',
  'name': 'abc',
  'department_name': '200',
  'join_date': datetime.datetime(2021, 4, 9, 14, 39, 59)},
 {'member_id': 2,
  'email': 'test@test.com',
  'passwd': '1234',
  'name': 'kang',
  'department_name': None,
  'join_date': datetime.datetime(2021, 4, 9, 15, 35, 9)},
 {'member_id': 3,
  'email': 'aabb@naver.como',
  'passwd': '1234',
  'name': 'min',
  'department_name': '210',
  'join_date': datetime.datetime(2021, 4, 9, 15, 38, 5)},
 {'member_id': 4,
  'email': 'aacc@naver.como',
  'passwd': '1234',
  'name': None,
  'department_name': None,
  'join_date': datetime.datetime(2021, 4, 9, 15, 39, 9)},
 {'member_id': 5,
  'email': 'hong@nate.com',
  'passwd': '4444',
  'name': 'hong',
  'department_name': '200',
  'join_date': datetime.datetime(2021, 4, 12, 9, 31, 17)},
 {'member_id': 6,
  'email': 'lee@nate.com',
  'passwd': '4444',
  'name': 'lee',
  'department_name': '200',
  'join_date': datetime.datetime(2021, 4, 12, 9, 34, 54)}]

In [24]:
type(dictResult)

list

## 자료구조 : 튜플 & 딕셔너리 개념

In [30]:
#튜플이 리스트와 다른점은 항목값은 변화가 불가능함! 고정값.
a=(1,2,3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [26]:
#딕셔너리 key:value   -> 클래스랑 비슷함.
member={'memberid':1,
       'email':'carami@nate.com',
       'passwd':'1233',
       'name':'kang'}
print(member)
print(type(member))

{'memberid': 1, 'email': 'carami@nate.com', 'passwd': '1233', 'name': 'kang'}
<class 'dict'>

In [31]:
print(member['name'])  #name의 값만 꺼내서보기

kang

In [35]:
member['name'] = 'kim' #name값 바꾸기
member

{'memberid': 1,
 'email': 'carami@nate.com',
 'passwd': '1233',
 'name': 'kim',
 2: 'kim'}

In [40]:
#key 나 값들만 모아보고 싶을때도 가능 
print(member.keys())

dict_keys(['memberid', 'email', 'passwd', 'name'])

In [41]:
print(member.keys())
print(member.values())
print(member.items())  #-> 튜플형태로 내보내주기도함.

dict_keys(['memberid', 'email', 'passwd', 'name'])
dict_values([1, 'carami@nate.com', '1233', 'kim'])
dict_items([('memberid', 1), ('email', 'carami@nate.com'), ('passwd', '1233'), ('name', 'kim')])

In [42]:
dictCur.close()
cursor.close()
conn.close()

In [43]:
conn

### 입력을 해보자 query = insert ~

In [57]:
conn = pymysql.connect(
    host='localhost',
    port=3306,
    user='pbl',
    passwd='pblpw',
    db='pbldb'
)
conn

In [50]:
query = '''insert member values(null,'choi@nate.com','8755','choi','22',default)'''
cur = conn.cursor()
cur.execute(query)
conn.commit()
cursor.close()
conn.close()
#근데 이렇게 매번 어떻게 쳐;;;

In [59]:
email='ddd@ddd.com'
passwd='9876'
name='ddd'

query='''
insert member values(null,%s,%s,%s,'22',default) 
'''
cur = conn.cursor()
cur.execute(query,(email,passwd,name))
conn.commit()
cursor.close()
conn.close()