In [1]:
import pymysql

In [2]:
conn = pymysql.connect(
    host = 'localhost',
    port = 3306,
    user = 'pbl',
    passwd = 'pblpw',
    db = 'sql_project'
)
sql_menu = ''' select*from menu '''
cursor = conn.cursor()
cursor.execute(sql_menu)

3

In [3]:
cursor

In [4]:
for menu in cursor:
    print(menu)

('아메리카노', 4000)
('카페라떼', 4500)
('홍차', 3500)

In [49]:
cursor.close()
conn.close()

In [5]:
conn = pymysql.connect(
    host = 'localhost',
    port = 3306,
    user = 'pbl',
    passwd = 'pblpw',
    db = 'sql_project'
)

In [6]:
# 딕셔너리 형태로 반환하기
dictCur = conn.cursor(pymysql.cursors.DictCursor)
dictCur.execute("select * from menu")
dictResult = dictCur.fetchall()
dictResult

[{'menu_name': '아메리카노', 'price': 4000},
 {'menu_name': '카페라떼', 'price': 4500},
 {'menu_name': '홍차', 'price': 3500}]

In [24]:
dictResult[0].keys()

dict_keys(['menu_name', 'price'])

In [7]:
for key in dictResult[0].keys():
    print(dictResult[0][key])

아메리카노
4000

In [25]:
print('''
         ❤MENU❤
----------------------------
''')
for i in range(len(dictResult)) :
    prev = 0
    for j in dictResult[i].keys() :
        print(dictResult[i][j], end = '\t')
    print()
print('\n----------------------------')

         ❤MENU❤
----------------------------

아메리카노	4000
카페라떼	4500
홍차	3500

----------------------------

In [26]:

mymenu = input('메뉴선택:  ')
size = input('사이즈 선택 (S,M,L):  ')
temp = input('hot? ice?(h or i):  ')
take_out = input('take out? (Y or N):  ')
payment = input('결제방식 선택(현금 or 카드):  ')

메뉴선택:  홍차
사이즈 선택 (S,M,L):  l
hot? ice?(h or i):  h
take out? (Y or N):  y
결제방식 선택(현금 or 카드):  카드

In [27]:
conn = pymysql.connect(
    host = 'localhost',
    port = 3306,
    user = 'pbl',
    passwd = 'pblpw',
    db = 'sql_project'
)

In [28]:
sql = '''insert into myorder 
values (null, %s, %s, %s, %s, %s, default)'''

In [29]:
cursor = conn.cursor()
cursor.execute(sql, (mymenu,size,temp,take_out,payment))
conn.commit()
cursor.close()
conn.close()

In [30]:
conn = pymysql.connect(
    host = 'localhost',
    port = 3306,
    user = 'pbl',
    passwd = 'pblpw',
    db = 'sql_project'
)

In [31]:
sql_order = '''select m.price 
from menu m, myorder o 
where m.menu_name = o.menu_name and m.menu_name = %s and o.order_id = (select max(order_id) from myorder)
'''

# sql_order = '''select m.price 
# from menu m join myorder o 
# on m.menu_name = o.menu_name
# where m.menu_name = %s
# '''

In [49]:
cursor = conn.cursor()
cursor.execute(sql_order,mymenu)

1

In [42]:
type()

pymysql.cursors.Cursor

In [50]:
for myorder in cursor:
    print( str(myorder[0])+ '원 결제해드리겠습니다😉.')

3500 원 결제해드리겠습니다😉.

In [51]:
cursor.close()
conn.close()

In [ ]:
print()

In [ ]:
'''
try :
    수행할 문장
except :
    print("오류 발생")
    conn.rollback()
else:
    오류가 안났을 때 수행할 문장
finally:
    cursor.close()
    conn.close()
    
    
with conn:
    with conn.cursor() as cur :
        cur.execute(query, 튜플)
        conn.commit()

'''