In [1]:
import pymysql

In [2]:
conn = pymysql.connect(
    host = 'localhost',
    port = 3306,
    user = 'pbl',
    passwd = 'pblpw',
    db = 'sql_project'
)
sql_menu = ''' select*from menu '''
cursor = conn.cursor()
cursor.execute(sql_menu)

3

In [3]:
cursor

In [4]:
for menu in cursor:
    print(menu)

('ÏïÑÎ©îÎ¶¨Ïπ¥ÎÖ∏', 4000)
('Ïπ¥ÌéòÎùºÎñº', 4500)
('ÌôçÏ∞®', 3500)

In [49]:
cursor.close()
conn.close()

In [5]:
conn = pymysql.connect(
    host = 'localhost',
    port = 3306,
    user = 'pbl',
    passwd = 'pblpw',
    db = 'sql_project'
)

In [6]:
# ÎîïÏÖîÎÑàÎ¶¨ ÌòïÌÉúÎ°ú Î∞òÌôòÌïòÍ∏∞
dictCur = conn.cursor(pymysql.cursors.DictCursor)
dictCur.execute("select * from menu")
dictResult = dictCur.fetchall()
dictResult

[{'menu_name': 'ÏïÑÎ©îÎ¶¨Ïπ¥ÎÖ∏', 'price': 4000},
 {'menu_name': 'Ïπ¥ÌéòÎùºÎñº', 'price': 4500},
 {'menu_name': 'ÌôçÏ∞®', 'price': 3500}]

In [24]:
dictResult[0].keys()

dict_keys(['menu_name', 'price'])

In [7]:
for key in dictResult[0].keys():
    print(dictResult[0][key])

ÏïÑÎ©îÎ¶¨Ïπ¥ÎÖ∏
4000

In [25]:
print('''
         ‚ù§MENU‚ù§
----------------------------
''')
for i in range(len(dictResult)) :
    prev = 0
    for j in dictResult[i].keys() :
        print(dictResult[i][j], end = '\t')
    print()
print('\n----------------------------')

         ‚ù§MENU‚ù§
----------------------------

ÏïÑÎ©îÎ¶¨Ïπ¥ÎÖ∏	4000
Ïπ¥ÌéòÎùºÎñº	4500
ÌôçÏ∞®	3500

----------------------------

In [26]:

mymenu = input('Î©îÎâ¥ÏÑ†ÌÉù:  ')
size = input('ÏÇ¨Ïù¥Ï¶à ÏÑ†ÌÉù (S,M,L):  ')
temp = input('hot? ice?(h or i):  ')
take_out = input('take out? (Y or N):  ')
payment = input('Í≤∞Ï†úÎ∞©Ïãù ÏÑ†ÌÉù(ÌòÑÍ∏à or Ïπ¥Îìú):  ')

Î©îÎâ¥ÏÑ†ÌÉù:  ÌôçÏ∞®
ÏÇ¨Ïù¥Ï¶à ÏÑ†ÌÉù (S,M,L):  l
hot? ice?(h or i):  h
take out? (Y or N):  y
Í≤∞Ï†úÎ∞©Ïãù ÏÑ†ÌÉù(ÌòÑÍ∏à or Ïπ¥Îìú):  Ïπ¥Îìú

In [27]:
conn = pymysql.connect(
    host = 'localhost',
    port = 3306,
    user = 'pbl',
    passwd = 'pblpw',
    db = 'sql_project'
)

In [28]:
sql = '''insert into myorder 
values (null, %s, %s, %s, %s, %s, default)'''

In [29]:
cursor = conn.cursor()
cursor.execute(sql, (mymenu,size,temp,take_out,payment))
conn.commit()
cursor.close()
conn.close()

In [30]:
conn = pymysql.connect(
    host = 'localhost',
    port = 3306,
    user = 'pbl',
    passwd = 'pblpw',
    db = 'sql_project'
)

In [31]:
sql_order = '''select m.price 
from menu m, myorder o 
where m.menu_name = o.menu_name and m.menu_name = %s and o.order_id = (select max(order_id) from myorder)
'''

# sql_order = '''select m.price 
# from menu m join myorder o 
# on m.menu_name = o.menu_name
# where m.menu_name = %s
# '''

In [49]:
cursor = conn.cursor()
cursor.execute(sql_order,mymenu)

1

In [42]:
type()

pymysql.cursors.Cursor

In [50]:
for myorder in cursor:
    print( str(myorder[0])+ 'Ïõê Í≤∞Ï†úÌï¥ÎìúÎ¶¨Í≤†ÏäµÎãàÎã§üòâ.')

3500 Ïõê Í≤∞Ï†úÌï¥ÎìúÎ¶¨Í≤†ÏäµÎãàÎã§üòâ.

In [51]:
cursor.close()
conn.close()

In [ ]:
print()

In [ ]:
'''
try :
    ÏàòÌñâÌï† Î¨∏Ïû•
except :
    print("Ïò§Î•ò Î∞úÏÉù")
    conn.rollback()
else:
    Ïò§Î•òÍ∞Ä ÏïàÎÇ¨ÏùÑ Îïå ÏàòÌñâÌï† Î¨∏Ïû•
finally:
    cursor.close()
    conn.close()
    
    
with conn:
    with conn.cursor() as cur :
        cur.execute(query, ÌäúÌîå)
        conn.commit()

'''